<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NavBar</title>

  <!-- External JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/routes/users.js"></script>
  <script type="text/javascript" src="/routes/widgets.js"></script>

  <!-- CSS links -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
</head>
<body>
  <header>

      <div class = "container">

        <img  src="images/bblogo.png" alt= "logo" class = "logo">
        <nav>
          <ul>
            <li><a href ="#">Products</a></li>
            <input type="text">
            <li><a href ="#">Favorites</a></li>
            <li><a href ="#">Messages</a></li>
            <li><a href ="#">Account</a></li>
          </ul>
        </nav>

      </div>

</body>
</html>
