<!DOCTYPE html>
<html>
  <head>
    <title>messages</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/messages.js"></script>
    <script type="text/javascript" src="/scripts/products.js"></script>
    <link rel="stylesheet" href="../styles/messages.css" />
    <link rel="stylesheet" href="../styles/layout.css" />
    <link rel="stylesheet" href="../styles/home_page.css" />
    <link rel="stylesheet" href="../styles/products.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/"><img src="images/bblogo.png" alt="logo" class="logo" /></a>
        <div class="dropdown"></div>
        <ul class="product-search">
          <li><a href="#">Products</a></li>
          <li class="search">
            <input type="text" class="search-input" placeholder="Search.." />
          </li>
        </ul>

        <ul class="user-bar">
          <li><i class="far fa-heart"></i></li>
          <li><i class="message-button far fa-comment-alt"></i></li>
          <form action="post">
            <li>Email<input type="text" name="email" /></li>
            <li>Password<input type="password" name="password" /></li>
            <li><input type="submit" name="login" value="Log In" /></li>
          </form>
        </ul>
      </nav>
    </div>
    <div class="main-content">
      <header class="hero">
        <div class="banner">
          <h1 class="banner-title1">
            Recommendations <button class="banner-btn">shop now</button>
            <ul class="product-image">
              <li class="product-click-temp">
                <input type="image" src="/rec1.jpg" border="0" alt="Submit" />
              </li>
              <li>
                <input type="image" src="/rec2.jpg" border="0" alt="Submit" />
              </li>
              <li>
                <input type="image" src="/rec3.jpg" border="0" alt="Submit" />
              </li>
            </ul>
          </h1>
          <h2 class="banner-title2">
            Price Drops <button class="banner-btn">shop now</button>
            <ul class="price-drop">
              <li>
                <input type="image" src="/pd1.jpg" border="0" alt="Submit" />
              </li>
              <li>
                <input type="image" src="/pd2.jpg" border="0" alt="Submit" />
              </li>
              <li>
                <input type="image" src="/pd3.jpg" border="0" alt="Submit" />
              </li>
            </ul>
          </h2>
          <h3 class="banner-title3">
            New Product drops <button class="banner-btn">shop now</button>
            <ul class="new-products-drops">
              <li>
                <input type="image" src="/new1.jpg" border="0" alt="Submit" />
              </li>
              <li>
                <input type="image" src="/new2.jpg" border="0" alt="Submit" />
              </li>
              <li>
                <input type="image" src="/new3.jpg" border="0" alt="Submit" />
              </li>
            </ul>
          </h3>
        </div>
      </header>
    </div>
  </body>
</html>
