<!DOCTYPE html>
<html>
  <head>
    <title>messages</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/messages.js"></script>
    <link rel="stylesheet" href="../styles/messages.css" />
    <link rel="stylesheet" href="../styles/layout.css" />
    <link rel="stylesheet" href="../styles/home_page.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="container">
      <nav>
        <img src="images/bblogo.png" alt="logo" class="logo" />
        <ul class="product-search">
          <li><a href="#">Products</a></li>
          <li class="search">
            <input type="text" class="search-input" placeholder="Search.." />
          </li>
        </ul>

        <ul class="user-bar">
          <li><i class="far fa-heart"></i></li>
          <li><i class="message-button far fa-comment-alt"></i></li>
          <li><i class="fas fa-user-circle"></i></li>
        </ul>
      </nav>
    </div>
    <div class="main-content">
      <header class="hero">
        <div class="banner">
          <h1 class="banner-title1">Recommendations</h1>
          <button class="banner-btn">shop now</button>
        </div>
      </header>
    </div>
  </body>
</html>
