<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/listings.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body class="listings-body">
  <h3 class="listings-title"> Filters </h3>
  <section class="filters">
    <form method="POST">
    <input type="integer" placeholder="Minimum Price"></input>
  <input type="integer" placeholder="Maximum Price"></input>
</section>
<section class="filters">
   <div class="custom-select">
  <select>
    <option value="0"> Select Category:</option>
    <option value="1"> Phone </option>
    <option value="2"> Computer </option>
    <option value="3"> T.V </option>
    <option value="4"> Camera </option>
    <option value="5"> Video Games </option>
    <option value="6"> Music </option>
    <option value="7"> Printer </option>
    <option value="8"> Tablet </option>
    <option value="9"> Laptop </option>
    <option value="10"> Accessories </option>
    <option value="11"> Monitor </option>
     </select>
   </div>
<div class="custom-select">
  <select>
    <option value="0"> Select Condition: </option>
    <option value="1"> Very Bad </option>
    <option value="2"> Bad </option>
    <option value="3"> Good </option>
    <option value="4"> Very Good </option>
    <option value="5"> Excellent </option>
    <option value="6"> Brand-new </option>
     </select>
   </div>
</section>
<button type="submit" class="filter-button">Submit</button>
</form>
  <section class="total-boxes">
    <div class="boxes_home_page">
      <span class="title" id="Name"> Name </span>
      <img class="img_home_page" src="http://camosun.ca/learn/programs/access/images/electrical-eng-hero.jpg">
      <p class="title" id="description">description</p>
      <ul class="features">
        <li> price: </li>
        <li> condition:  </li>
        <li> category:  </li>
      </ul>
      <form class="title" method="POST">
        Message Username
        <input type="message" name="message" placeholder="Type Message..."></input>
      <button type="submit"> Submit </button>
      </form>
    </div>
    <div class="boxes_home_page">
      <span class="title" id="Name"> Name </span>
      <img class="img_home_page" src="http://camosun.ca/learn/programs/access/images/electrical-eng-hero.jpg">
      <p class="title" id="description"> description </p>
      <ul class="features">
        <li> price:  </li>
        <li> condition:  </li>
        <li> category:  </li>
      </ul>
      <form class="title" method="POST">
        Message Username
        <input type="message" name="message" placeholder="Type Message..."></input>
      <button type="submit"> Submit </button>
      </form>
    </div>
    <div class="boxes_home_page">
      <span class="title" id="Name"> Name </span>
      <img class="img_home_page" src="http://camosun.ca/learn/programs/access/images/electrical-eng-hero.jpg">
      <p class="title" id="description"> description </p>
      <ul class="features">
        <li> price:  </li>
        <li> condition:  </li>
        <li> category:  </li>
      </ul>
      <form class="title" method="POST">
        Message Username
        <input type="message" name="message" placeholder="Type Message..."></input>
      <button type="submit"> Submit </button>
      </form>
    </div>
    <div class="boxes_home_page">
      <span class="title" id="Name"> Name </span>
      <img class="img_home_page" src="http://camosun.ca/learn/programs/access/images/electrical-eng-hero.jpg">
      <p class="title" id="description"> description </p>
      <ul class="features">
        <li> price:  </li>
        <li> condition:  </li>
        <li> category:  </li>
      </ul>
      <form class="title" method="POST">
        Message Username
        <input type="message" name="message" placeholder="Type Message..."></input>
      <button type="submit"> Submit </button>
      </form>
    </div>
    <div class="boxes_home_page">
      <span class="title" id="Name"> Name </span>
      <img class="img_home_page" src="http://camosun.ca/learn/programs/access/images/electrical-eng-hero.jpg">
      <p class="title", id="description"> description </p>
      <ul class="features">
        <li> price:  </li>
        <li> condition:  </li>
        <li> category:  </li>
      </ul>
      <form class="title" method="POST">
        Message Username
        <input type="message" name="message" placeholder="Type Message..."></input>
      <button type="submit"> Submit </button>
      </form>
    </div>
    <div class="boxes_home_page">
      <span class="title" id="Name"> Name </span>
      <img class="img_home_page" src="http://camosun.ca/learn/programs/access/images/electrical-eng-hero.jpg">
      <p class="title" id="description"> description </p>
      <ul class="features">
        <li> price:  </li>
        <li> condition:  </li>
        <li> category:  </li>
      </ul>
      <form class="title" method="POST">
        Message Username
        <input type="message" name="message" placeholder="Type Message..."></input>
      <button type="submit"> Submit </button>
      </form>
    </div>
    <div class="boxes_home_page">
      <span class="title" id="Name"> Name </span>
      <img class="img_home_page" src="http://camosun.ca/learn/programs/access/images/electrical-eng-hero.jpg">
      <p class="title" id="description"> description </p>
      <ul class="features">
        <li> price: </li>
        <li> condition:  </li>
        <li> category:  </li>
      </ul>
      <form class="title" method="POST">
        Message Username
        <input type="message" name="message" placeholder="Type Message..."></input>
      <button type="submit"> Submit </button>
      </form>
    </div>
    </section>
  </body>
</html>
