<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Listings Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<<<<<<< HEAD
    <link rel="stylesheet" href="/styles/new-listings.css" type="text/css" />
=======
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
>>>>>>> master

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1 class="new-title">New Listing</h1>
    <form method="POST" class="listing-inputs">
      <section class="row1">
      <label class="labels">
        <input type="text" name="text" placeholder="Product Name">
      </label>
        </input>
      <label class="labels">
        <input type="text" name="text" placeholder="Sub-Image">
        </label>
        </input>
    </section>
    <section class="row1">
      <label class="labels">
        <input type="text" name="text" placeholder="Price">
      </label>
        </input>
      <label class="labels">
        <input type="text" name="text" placeholder="Sub-Image 2">
        </label>
        </input>
    </section>
<section class="row1">
      <label class="labels">
        <input type="text" name="text" placeholder="Product Category">
      </label>
        </input>
      <label class="labels">
        <input type="text" name="text" placeholder="Sub-Image 3">
        </label>
        </input>
    </section>
<section class="row1">
      <label class="labels">
        <input type="text" name="text" placeholder="Main Image">
      </label>
        </input>
      <label class="labels">
        <input type="text" name="text" placeholder="Sub-Image 4">
        </label>
        </input>
    </section>
  <label class="last-label">
    <input class="description-input" type="text" name="text" placeholder="Description">
</label>
</input>
    <button type="Submit" class="new-button">Submit Listing</button>
      </form>
  </body>
</html>
