<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/register-page.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body class="page">
    <h1 class="register-title">Register</h1>
    <form method="POST" class="outline">
      <section class="registration">
      <label>Name:</label>
        <input type="message" class="input-message" name="message" placeholder="Type name">
</input>
    <label>Email: </label><input type="message" class="input-message" name="message" placeholder="Type email"></input>
  <label>Password:</label> <input type="message" class="input-message" name="message" placeholder="Type password"></input>
  <button type="submit" class="registration-button">Submit</button>
  </section>
   <img src="https://s.yimg.com/ny/api/res/1.2/12UU2JphAsbxTTDca.7QFQ--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9MTA4MDtoPTcxNg--/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2019-11/7b5b5330-112b-11ea-a77f-7c019be7ecae" class="img-registration">

    </form>
  </body>
</html>
