body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  display: flex;
  justify-content: center;
}
.boxes_favourites {
  border: solid;
  margin: 1em;
  font-size: 1.5em;
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 1000px;
}
.img_favourites {
  width: 200px;
}
.information {
  margin: 1.5em;
  display: flex;
  align-items: center;
}

.text {
  display: flex;
  align-items: center;
  margin-left: 2.5em;
}
