.banner-title1 {
  font-family: Larsseit, Arial, sans-serif;
  color: #3e4153;
  margin-left: 0.5em;
}

.banner-title2 {
  font-family: Larsseit, Arial, sans-serif;
  color: #3e4153;
  margin-left: 0.5em;
}

.banner-title3 {
  font-family: Larsseit, Arial, sans-serif;
  color: #3e4153;
  margin-left: 0.5em;
}

.product-mainimage {
  width: 250px;
  height: 250px;
  margin: 10px;
  opacity: 0.85;
}

.product-mainimage:hover {
  visibility: visible;
  background-color: black;
  box-shadow: 3.5px 3.5px rgb(129, 38, 38);
}
