.banner-title1 {
  font-family: sans-serif;
  color: rgb(121, 187, 132);
  margin-left: 0.5em;
}

.banner-title2 {
  font-family: sans-serif;
  color: rgb(121, 187, 132);
  margin-left: 0.5em;
}

.banner-title3 {
  font-family: sans-serif;
  color: rgb(121, 187, 132);
  margin-left: 0.5em;
}

#image1 {
  width: 250px;
  height: 250px;
  margin: 10px;
  opacity: 0.3;
}
#image1:hover {
  visibility: visible;
  background-color: black;
  box-shadow: 3.5px 3.5px rgb(129, 38, 38);
}

#image2 {
  width: 250px;
  height: 250px;
  margin: 10px;
  opacity: 0.3;
}
#image2:hover {
  visibility: visible;
  background-color: black;
  box-shadow: 3.5px 3.5px rgb(129, 38, 38);
}

#image3 {
  width: 250px;
  height: 250px;
  margin: 10px;
  opacity: 0.3;
}
#image3:hover {
  visibility: visible;
  background-color: black;
  box-shadow: 3.5px 3.5px rgb(129, 38, 38);
}

#image4 {
  width: 250px;
  height: 250px;
  margin: 10px;
  opacity: 0.3;
}
#image4:hover {
  visibility: visible;
  background-color: black;
  box-shadow: 3.5px 3.5px rgb(129, 38, 38);
}
#image5 {
  width: 250px;
  height: 250px;
  margin: 10px;
  opacity: 0.3;
}
#image5:hover {
  visibility: visible;
  background-color: black;
  box-shadow: 3.5px 3.5px rgb(129, 38, 38);
}

#image6 {
  width: 250px;
  height: 250px;
  margin: 10px;
  opacity: 0.3;
}
#image6:hover {
  visibility: visible;
  background-color: black;
  box-shadow: 3.5px 3.5px rgb(129, 38, 38);
}
#image7 {
  width: 250px;
  height: 250px;
  margin: 10px;
  opacity: 0.3;
}
#image7:hover {
  visibility: visible;
  background-color: black;
  box-shadow: 3.5px 3.5px rgb(129, 38, 38);
}
#image8 {
  width: 250px;
  height: 250px;
  margin: 10px;
  opacity: 0.3;
}
#image8:hover {
  visibility: visible;
  background-color: black;
  box-shadow: 3.5px 3.5px rgb(129, 38, 38);
}
#image9 {
  width: 250px;
  height: 250px;
  margin: 10px;
  opacity: 0.3;
}
#image9:hover {
  visibility: visible;
  background-color: black;
  box-shadow: 3.5px 3.5px rgb(129, 38, 38);
}
