.banner-title1 {
  font-family: sans-serif;
  color: red;
}

.banner-title2 {
  font-family: sans-serif;
  color: red;
}

.banner-title3 {
  font-family: sans-serif;
  color: red;
}

#image1 {
  width: 75px;
  height: 75px;
}

#image2 {
  width: 75px;
  height: 75px;
}

#image3 {
  width: 75px;
  height: 75px;
}

#image4 {
  width: 75px;
  height: 75px;
}
#image5 {
  width: 75px;
  height: 75px;
}
#image6 {
  width: 75px;
  height: 75px;
}
#image7 {
  width: 75px;
  height: 75px;
}
#image8 {
  width: 75px;
  height: 75px;
}
#image9 {
  width: 75px;
  height: 75px;
}
