body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  background-color: #fcfcfc;
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
}

.container {
  font-weight: 400;
  width: 90%;
  margin: 0;
}

.product-search {
  display: flex;
  width: 400px;
}

nav {
  // width: 112%;
  display: flex;
  justify-content: space-between;
  background: #55d6aa;
  height: 60px;
  align-items: center;
  // margin-bottom: 20px;
}
#create {
  font: "Work Sans", sans-serif;
  color: white;
  background-color: #55d6aa;
  border: none;
}
// nav * {
//   border: 1px solid red;
// }

.user-bar {
  display: flex;
  align-items: center;

  // justify-content: right;
  #heart {
    padding: 15px;
  }

  #chat {
    padding: 15px;
  }
  #myID {
    display: flex;
  }

  #em {
    padding: 0.5px;
    margin: 0.5em;
    margin-top: 0.75em;
  }
  #pword {
    padding: 0.5px;
    margin: 0.5em;
    margin-top: 0.75em;
  }
  #login {
    padding-top: 0.5px;
  }

  li:nth-child(2) ~ li {
    padding: 0.5em;
  }
}

.search-input {
  flex-grow: 0.5;
  width: 40em;
}
// header ::after {
//   content: " ";
//   display: table;
//   clear: both;
// }

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .dropdown {
    margin-left: 1em;
  }
}

.logo {
  // float: left;
  // padding: 10px 0;
  margin-left: 0.5em;
}

#logoimage {
  width: 20px;
  height: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  // margin-left: 40px;
  // padding-top: 25px;
}

.search {
  // padding-top: 25px;
  // display: inline-block;
  // margin-left: 80px;
  // padding-top: 23px;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  // <<<<<<< Updated upstream
  /* visibility: visible;
  color: #000; */
}

@media all and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }

  .container > li {
    flex-basis: 50%;
  }
}

@media all and (max-width: 400px) {
  .container > li {
    flex-basis: 100%;
  }
  .search {
    order: 1;
  }
}

.banner-title1 {
  font-family: "Work Sans", sans-serif;
  font-size: inherit;
}
.banner-title2 {
  font-family: "Work Sans", sans-serif;
  font-size: inherit;
}

.banner-title3 {
  font-family: "Work Sans", sans-serif;
  font-size: inherit;
}

.product-image {
  display: flex;
  justify-content: center;
}

.price-drop {
  display: flex;
  justify-content: center;
}

.new-products-drops {
  display: flex;
  justify-content: center;
}
body {
  background-color: #fcfcfc;
background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
}
