body {
  margin: 0;
  background-color: #eee;
  font-family: "Work Sans", sans-serif;
  // <<<<<<< Updated upstream
  font-weight: 300;
}

.container {
  /* display: flex; */
  /* width: 100%; */
  /* justify-content: space-around; */
  // =======
  font-weight: 400;
  width: 90%;
  margin: 0;
}

.product-search {
  display: flex;
  width: 400px;
}

nav {
  width: 112%;
  display: flex;
  justify-content: space-around;
  background: #55d6aa;
  height: 50px;
  align-items: center;
  margin-bottom: 20px;
}

.user-bar {
  display: flex;
  // =======
}

header ::after {
  content: " ";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

// nav {
//   float: right;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
// >>>>>>> Stashed changes

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  // <<<<<<< Updated upstream
  /* display: inline-block; */
  margin-left: 80px;
  padding-top: 30px;
  /* position: relative; */
}

.search {
  /* flex: 1; */
  padding-top: 25px;
  /* width: auto; */
  // =======
  display: inline-block;
  margin-left: 80px;
  padding-top: 23px;
  // >>>>>>> Stashed changes
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  // <<<<<<< Updated upstream
  /* visibility: visible;
  color: #000; */
}

@media all and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }

  .container > li {
    flex-basis: 50%;
  }
}

@media all and (max-width: 400px) {
  .container > li {
    flex-basis: 100%;
  }
  .search {
    order: 1;
  }
  // =======
  // color: #000;
  // >>>>>>> Stashed changes
}

.banner-title1 {
  font-family: "Work Sans", sans-serif;
  font-size: inherit;
}
.banner-title2 {
  font-family: "Work Sans", sans-serif;
  font-size: inherit;
}

.banner-title3 {
  font-family: "Work Sans", sans-serif;
  font-size: inherit;
}

.product-image {
  display: flex;
  justify-content: center;
}

.price-drop {
  display: flex;
  justify-content: center;
}

.new-products-drops {
  display: flex;
  justify-content: center;
}
