body {
  margin: 0;
  background-color: #eee;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

.container {
  /* display: flex; */
  /* width: 100%; */
  /* justify-content: space-around; */
}

header {
  background: #55d6aa;
  height: 50px;
}

.logo {
}

.product-search {
  display: flex;
  width: 400px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.user-bar {
  display: flex;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  /* display: inline-block; */
  margin-left: 80px;
  padding-top: 30px;
  /* position: relative; */
}

.search {
  /* flex: 1; */
  padding-top: 25px;
  /* width: auto; */
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  /* visibility: visible;
  color: #000; */
}

@media all and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }

  .container > li {
    flex-basis: 50%;
  }
}

@media all and (max-width: 400px) {
  .container > li {
    flex-basis: 100%;
  }
  .search {
    order: 1;
  }
}
