.listings-body {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0 auto;
}

.listings-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #3e4153;
  display: flex;
  justify-content: center;
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.total-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.boxes_home_page {
  border: solid;
  border-color: #55d6aa;
  width: 25%;
  margin: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.boxes_home_page:hover {
  visibility: visible;
  box-shadow: 3.5px 3.5px rgb(129, 38, 38);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-all;
}
#description {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.img_home_page {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  word-break: break all;
}
#Name {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 120%;
  color: #3e4153;
}
