.product-page {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 90vh;
  margin: 0 auto;
}

/*top */
.top-products-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .fa-heart {
    font-size: 30px;
  }

  .far.fa-heart:hover {
    color: #55d6aa;
  }

  .fas.fa-heart {
    color: #55d6aa;
  }
  .fas.fa-heart:hover {
    color: black;
  }

}

.product-title {
  width: 80%;
  padding: 15px;
  border-radius: 25px;
  box-sizing: border-box;
}

.product-title > h1 {
	margin: 0px;
  margin-top: 10px;
  text-align: left;
}

.product-title > p {
	margin: 0px;
  font-size: 20px;
  text-align: left;
}

/*centre left */

.centre-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.product-images {
  display: flex;
  width: 80%;
  border: 1px solid grey;
}

.main-photo {
  margin-right: 10px;
  width: 80%;
  /*  border: 1px solid grey;*/
}

.main-photo > img {
	width: 100%;
  height: 100%;
  border-radius: 0;
}

.sub-photos {
  display: flex;
  flex-direction: column;
  width: 20%;
  /*	border: 1px solid grey;*/
}

.sub-photos > img {
	width: 100%;
  height: 25%;
  border-radius: 0;
}

/*centre right*/
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  margin-left: 20px;
  box-sizing: border-box;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40%;
  margin-bottom: 10px;
  border: 1px solid grey;
}

.message-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60%;
  border: 1px solid grey;
  box-sizing: border-box;
}

.user-image {
  width: 100px;
  height: 100px;
	justify-content: center;
}

.user-image > img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-input {
  width: 100%;
  margin-bottom: 10px;
}

.message-template {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.message-template > button {
  padding: 10px 0;
  margin: 5px 0;
  background: #55d6aa;
  border: none;
  color: white;
  border-radius: 25px;
}

.text-input > textarea {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 10px;
  height: 30px;
  width: 100%;
  outline: none;
  resize: none;

}

.text-input > textarea:focus {
  outline: none;
}

.text-send {
  text-align: center;
}

.text-send > input{
  width: 90%;
  height: 30px;
  border: none;
  background-color: #55d6aa;
  color: white;
}

/*bottom*/
.product-description {
	width: 100%;
	height: 200px;
	border: 1px solid grey;
	padding: 20px;
  box-sizing: border-box;
}

.product-description > p {
  text-align: left;
}

