.page {
  display: flex;
  flex-direction: column;
}
.register-title {
  display: flex;
  justify-content: center;
}
.img-registration {
 height: 385px;
 width: 50%;
}
.outline {
 display: flex;
  flex-direction: row;
  border:solid;
}
.registration {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  width: 75%;
}
label {
  margin-left: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
.input-message {
  width: 55%;
  height: 30px;
  margin-bottom: 1.0em;
}
input {
  margin-left: 1.5em;
}
.registration-button {
 margin-right: 0px;
 width: 20%;
 margin-left: 1.5em;
}
